.button {
  padding: 10px 20px;
  color: #f9f6f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.button-brown {
    background-color: #8f7a66;
    &:hover {
      background-color: #776e65;
    }
  }

  &.button-orange {
    background-color: #f2b179;
    &:hover {
      background-color: #f59563;
    }
  }

  &.button-yellow {
    background-color: #f9d835;
    &:hover {
      background-color: #f1c40f;
    }
  }
}
