.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #faf8ef;
  min-height: 100vh;
}

.grid-container {
  position: relative;
}

.game-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
  .button {
    padding: 10px 20px;
    color: #f9f6f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &.undo {
      background-color: #8f7a66;
      &:hover {
        background-color: #776e65;
      }
    }

    &.restart {
      background-color: #f2b179;
      &:hover {
        background-color: #f59563;
      }
    }
  }
}
