.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #faf8ef;
  min-height: 100vh;
}

.game-container {
  position: relative;
}

.game-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.restart-button {
  padding: 10px 20px;
  background-color: #8f7a66;
  color: #f9f6f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #776e65;
  }
}
