.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  border-radius: 5px;
  color: #776e65;

  &.tile-0 {
    background-color: #cdc1b4;
  }
  &.tile-2 {
    background-color: #eee4da;
  }
  &.tile-4 {
    background-color: #ede0c8;
  }
  &.tile-8 {
    background-color: #f2b179;
    color: #f9f6f2;
  }
  &.tile-16 {
    background-color: #f59563;
    color: #f9f6f2;
  }
  &.tile-32 {
    background-color: #f67c5f;
    color: #f9f6f2;
  }
  &.tile-64 {
    background-color: #f65e3b;
    color: #f9f6f2;
  }
  &.tile-128,
  &.tile-256,
  &.tile-512,
  &.tile-1024,
  &.tile-2048,
  &.tile-4096,
  &.tile-8192,
  &.tile-10684,
  &.tile-32768,
  &.tile-65536 {
    background-color: #edcf72;
    color: #f9f6f2;
  }
  /* 추가 타일 색상은 필요에 따라 계속 추가 */
}
